.box {
    position: relative;
    margin: 0 auto;
    width: 900px;
    height: 500px;
    border: 1px solid #000;
    background: url(./logo.jpg) no-repeat top right;
}

.box form {
    position: absolute;
    bottom: 0;
    margin: 20px 30px;
}

input[type="button"] {
    height: 50px;
    width: 100px;
}

select {
    width: 600px;
    height: 250px;
}